.gradle/

.idea/artifacts
.idea/caches
.idea/codeStyles
.idea/inspectionProfiles/profiles_settings.xml
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/deploymentTargetDropDown.xml
.idea/deploymentTargetSelector.xml

.kotlin/

build/